.image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.container {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.11);
  backdrop-filter: blur(8px);
  width: 80%;
  max-width: 420px;
  padding: 20px;
  margin: 150px 100px 50px 800px;
  border-radius: 20px;
}

#city-select {
  color: #111;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  margin: 20px 0;
}

.city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.left,
.right {
  width: 45%;
  text-align: center;
}

.divider {
  width: 2px;
  height: 70px;
  background-color: white;
}

.time {
  font-size: 20px;
  font-weight: bold;
}

.date {
  font-size: 13px;
  margin-top: 5px;
  opacity: 0.8;
}

footer {
  margin-top: 50px;
  text-align: center;
  color: white;
}

footer a {
  color: white;
}
